.navbar.hidden-md-up
	%button.btn.btn-outline-primary.btn-outline-gray.icon-only.with-label.more{:type => "button"}
		%i.ero-menu
		.button-label.empty
	= image_tag('logo.png')
	%button.btn.btn-outline-primary.btn-outline-gray.icon-only.with-label.messages{:type => "button"}
		%i.ero-messages
		.button-label 2

.desktop-patch.hidden-lg-down
	.top
	.bottom

.sidebar
	.logo-wrapper.hidden-lg-down
		= link_to image_tag('logo.png')

	-# .logged-out
	-# 	%a.mt-0.mb-0.text-secondary.f-s-16.underline(href="") Dołącz do nas!
	-# 	%p.mt-0.mb-0
	-# 		%span Masz już konto?
	-# 		%span.text-primary Zaloguj się

	.logged-in

		.logged-in-buttons
			%button.btn.btn-outline-primary.btn-outline-gray.btn-menu.icon-only.with-label.hidden-sm-down.hidden-xl-up{:type => "button"}
				%i.ero-menu
				.button-label.empty
			.divider.hidden-sm-down.hidden-xl-up

			%button.btn.btn-outline-primary.btn-outline-gray.btn-messages.icon-only.with-label.hidden-sm-down.hidden-xl-up{:type => "button"}
				%i.ero-messages
				.button-label 2
			.divider.hidden-sm-down

		.profile
			.profile-details
				= image_tag 'girl.jpg'
				%span.profile-name.text-gray Ewelinaelina

			.profile-buttons
				%button.btn.btn-outline-primary.btn-outline-gray.icon-only.fadeable{:type => "button"}
					%i.ero-settings
				%button.btn.btn-outline-primary.btn-outline-gray.icon-only.fadeable{:type => "button"}
					%i.ero-log-out
		.divider

	.menu
		%button.btn.btn-secondary.btn-block
			Dodaj wycieczkę

		%ul.main-submenu
			%li.menu-item
				%a
					.icon-wrapper
						%i.ero-users
					.label.fadeable Użytkownicy
			%li.menu-item
				%a
					.icon-wrapper
						%i.ero-trips
					.label.fadeable Wycieczki
			%li.menu-item.active
				%a
					.icon-wrapper
						%i.ero-groups
					.label.fadeable Grupy
			%li.menu-item
				%a
					.icon-wrapper
						%i.ero-hotline
					.label.fadeable Hotline

		%button.btn.btn-primary.btn-block
			Moje wycieczki

		%ul.fadeable.secondary-submenu
			%li.menu-item
				%a
					.icon-wrapper
						%i.ero-messages
					.label Wiadmości
			%li.menu-item
				%a
					.icon-wrapper
						%i.ero-notifications
					.label Powiadomienia
			%li.menu-item
				%a
					.icon-wrapper
						%i.ero-heart-2
					.label Chcą Cię poznać
			%li.menu-item
				%a
					.icon-wrapper
						%i.ero-eye
					.label Podglądacz
			%li.menu-item
				%a
					.icon-wrapper
						%i.ero-new-people
					.label Nowe osoby
			%li.menu-item
				%a
					.icon-wrapper
						%i.ero-new-trips
					.label Nowe wycieczki
			%li.menu-item
				%a
					.icon-wrapper
						%i.ero-unlocked
					.label Odblokowania
			%li.menu-item
				%a
					.icon-wrapper
						%i.ero-locker
					.label Tryb anonimowy


.container.main-container
	.row.no-gutters
		.col-xl-9.offset-xl-3.col-lg-12.offset-lg-0
			.featured.streach-me
				.img-wrapper
					= link_to image_tag 'girl.jpg'
				.img-wrapper
					= link_to image_tag 'girl.jpg'
				.img-wrapper
					= link_to image_tag 'girl.jpg'
				.img-wrapper
					= link_to image_tag 'girl.jpg'
				.img-wrapper
					= link_to image_tag 'girl.jpg'
				.img-wrapper
					= link_to image_tag 'girl.jpg'
				.img-wrapper
					= link_to image_tag 'girl.jpg'

			.group-details.streach-me
				.group-details-wrapper
					= link_to image_tag 'girl.jpg'
					.text
						%h2.mt-0 BDSM
						%p.text-book.text-gray Hydroderm is the highly desired anti-aging cream on the block. This serum restricts the occurrence of early aging sings on the skin and keep
						.group-info.ea-flex.ea-align-center
							%p.mb-0
								%span.text-primary 2310
								%span.text-gray użytkowników
							%p.mb-0
								%span.text-primary 70
								%span.text-gray ukrytych
							%p.mb-0
								%span.text-primary Twój profil
								%span.text-gray Publiczny

					%button.btn.icon-only.btn-plus.btn-group{:type => "button"}
						%i.ero-cross
					%button.btn.icon-only.btn-eye.btn-group{:type => "button"}
						%i.ero-eye

			%form.search
				.row.search-header
					.col
						.ea-flex.ea-align-center.ea-just-space-between
							.info.f-s-16
								%span.text-primary 2310
								%span.text-gray użytkowników

							.search-input
								%button.btn.btn-outline-primary.btn-outline-gray.icon-only.with-label.more.mr-3{:type => "submit"}
									%i.ero-search

								%select.form-control
									%option 1
									%option 2

				.row.search-body
					.col-6.bordered
						.row.form-row
							.col
								%select.form-control
									%option 1
									%option 2

							.col
								%select.form-control
									%option 1
									%option 2

						.row.form-row
							.col
								Slider

						.row.form-row
							.col
								%select.form-control
									%option 1
									%option 2

							.col
								%select.form-control
									%option 1
									%option 2

						.row
							.col
								%select.form-control
									%option 1
									%option 2

					.col-6
						.row.form-row
							.col
								%select.form-control
									%option 1
									%option 2

						.row.form-row
							.col
								Slider

						.row
							.col

								%fieldset.form-group.mb-0
									%legend Radio buttons
									.form-check.form-check-inline
										%label.form-check-label
											%input.form-check-input{:type => "checkbox"}/
											Check me out

									.form-check.form-check-inline
										%label.form-check-label
											%input.form-check-input{:type => "checkbox"}/
											Check me out

									%legend Radio buttons
									.form-check.form-check-inline
										%label.form-check-label
											%input.form-check-input{:type => "checkbox"}/
											Check me out

									.form-check.form-check-inline
										%label.form-check-label
											%input.form-check-input{:type => "checkbox"}/
											Check me out

				.row.search-footer
					.col
						.ea-flex.ea-align-center.ea-just-center
							%button.btn.btn-secondary.mr-4{:type => "button"} Pokaż
							%button.btn.btn-outline-primary.btn-outline-gray{:type => "button"} Anuluj

			.row.people-wrapper
				.col-6.col-md-4.col-lg-4.col-xl-3
					.person
						.person-photo-wrapper
							.person-actions
								%button.btn.icon-only.btn-person.btn-heart.btn-group{:type => "button"}
									%i.ero-heart
								%button.btn.icon-only.btn-person.btn-remove.btn-group.ml-2{:type => "button"}
									%i.ero-cross
							.person-photo-amount.hidden-sm-down
								%i.ero-photo-amount
								%span.amount 6
							.locker
								%i.ero-locker
							= image_tag 'girl.jpg'

						.person-info.ea-flex.ea-flex-align-start.ea-just-start
							.person-status.online
							.person-details
								.person-name-age
									%h5.mt-0.mb-0.d-inline-block.person-name
										%span Anna
										%span.coma.hidden-sm-down ,
									%h5.mt-0.mb-0.person-age.text-gray 24
								.preson-city.text-gray.hidden-sm-down
									Warszawa

				.col-6.col-md-4.col-lg-4.col-xl-3
					.person
						.person-photo-wrapper
							.person-actions
								%button.btn.icon-only.btn-person.btn-heart.btn-group{:type => "button"}
									%i.ero-heart
								%button.btn.icon-only.btn-person.btn-remove.btn-group.ml-2{:type => "button"}
									%i.ero-cross
							.person-photo-amount.hidden-sm-down
								%i.ero-photo-amount
								%span.amount 6
							.locker
								%i.ero-locker
							= image_tag 'girl.jpg'

						.person-info.ea-flex.ea-flex-align-start.ea-just-start
							.person-status.offline
							.person-details
								.person-name-age
									%h5.mt-0.mb-0.d-inline-block.person-name
										%span Anna
										%span.coma.hidden-sm-down ,
									%h5.mt-0.mb-0.person-age.text-gray 24
								.preson-city.text-gray.hidden-sm-down
									Warszawa

				.col-6.col-md-4.col-lg-4.col-xl-3
					.person.locked
						.person-photo-wrapper
							.person-actions
								%button.btn.icon-only.btn-person.btn-heart.btn-group{:type => "button"}
									%i.ero-heart
								%button.btn.icon-only.btn-person.btn-remove.btn-group.ml-2{:type => "button"}
									%i.ero-cross
							.person-photo-amount.hidden-sm-down
								%i.ero-photo-amount
								%span.amount 6
							.locker
								%i.ero-locker
							= image_tag 'girl.jpg'

						.person-info.ea-flex.ea-flex-align-start.ea-just-start
							.person-status.away
							.person-details
								.person-name-age
									%h5.mt-0.mb-0.d-inline-block.person-name
										%span Hermenegildaaaaaa
										%span.coma.hidden-sm-down ,
									%h5.mt-0.mb-0.person-age.text-gray 24
								.preson-city.text-gray.hidden-sm-down
									Warszawa

				.col-6.col-md-4.col-lg-4.col-xl-3
					.person
						.person-photo-wrapper
							.person-actions
								%button.btn.icon-only.btn-person.btn-heart.btn-group{:type => "button"}
									%i.ero-heart
								%button.btn.icon-only.btn-person.btn-remove.btn-group.ml-2{:type => "button"}
									%i.ero-cross
							.person-photo-amount.hidden-sm-down
								%i.ero-photo-amount
								%span.amount 6
							.locker
								%i.ero-locker
							= image_tag 'girl.jpg'

						.person-info.ea-flex.ea-flex-align-start.ea-just-start
							.person-status.away
							.person-details
								.person-name-age
									%h5.mt-0.mb-0.d-inline-block.person-name
										%span Anna
										%span.coma.hidden-sm-down ,
									%h5.mt-0.mb-0.person-age.text-gray 24
								.preson-city.text-gray.hidden-sm-down
									Warszawa

				.col-6.col-md-4.col-lg-4.col-xl-3
					.person.locked
						.person-photo-wrapper
							.person-actions
								%button.btn.icon-only.btn-person.btn-heart.btn-group{:type => "button"}
									%i.ero-heart
								%button.btn.icon-only.btn-person.btn-remove.btn-group.ml-2{:type => "button"}
									%i.ero-cross
							.person-photo-amount.hidden-sm-down
								%i.ero-photo-amount
								%span.amount 6
							.locker
								%i.ero-locker
							= image_tag 'girl.jpg'

						.person-info.ea-flex.ea-flex-align-start.ea-just-start
							.person-status.online
							.person-details
								.person-name-age
									%h5.mt-0.mb-0.d-inline-block.person-name
										%span Anna
										%span.coma.hidden-sm-down ,
									%h5.mt-0.mb-0.person-age.text-gray 24
								.preson-city.text-gray.hidden-sm-down
									Warszawa

				.col-6.col-md-4.col-lg-4.col-xl-3
					.person
						.person-photo-wrapper
							.person-actions
								%button.btn.icon-only.btn-person.btn-heart.btn-group{:type => "button"}
									%i.ero-heart
								%button.btn.icon-only.btn-person.btn-remove.btn-group.ml-2{:type => "button"}
									%i.ero-cross
							.person-photo-amount.hidden-sm-down
								%i.ero-photo-amount
								%span.amount 6
							.locker
								%i.ero-locker
							= image_tag 'girl.jpg'

						.person-info.ea-flex.ea-flex-align-start.ea-just-start
							.person-status.offline
							.person-details
								.person-name-age
									%h5.mt-0.mb-0.d-inline-block.person-name
										%span Anna
										%span.coma.hidden-sm-down ,
									%h5.mt-0.mb-0.person-age.text-gray 24
								.preson-city.text-gray.hidden-sm-down
									Warszawa

				.col-6.col-md-4.col-lg-4.col-xl-3
					.person
						.person-photo-wrapper
							.person-actions
								%button.btn.icon-only.btn-person.btn-heart.btn-group{:type => "button"}
									%i.ero-heart
								%button.btn.icon-only.btn-person.btn-remove.btn-group.ml-2{:type => "button"}
									%i.ero-cross
							.person-photo-amount.hidden-sm-down
								%i.ero-photo-amount
								%span.amount 6
							.locker
								%i.ero-locker
							= image_tag 'girl.jpg'

						.person-info.ea-flex.ea-flex-align-start.ea-just-start
							.person-status.away
							.person-details
								.person-name-age
									%h5.mt-0.mb-0.d-inline-block.person-name
										%span Anna
										%span.coma.hidden-sm-down ,
									%h5.mt-0.mb-0.person-age.text-gray 24
								.preson-city.text-gray.hidden-sm-down
									Warszawa

				.col-6.col-md-4.col-lg-4.col-xl-3
					.person
						.person-photo-wrapper
							.person-actions
								%button.btn.icon-only.btn-person.btn-heart.btn-group{:type => "button"}
									%i.ero-heart
								%button.btn.icon-only.btn-person.btn-remove.btn-group.ml-2{:type => "button"}
									%i.ero-cross
							.person-photo-amount.hidden-sm-down
								%i.ero-photo-amount
								%span.amount 6
							.locker
								%i.ero-locker
							= image_tag 'girl.jpg'

						.person-info.ea-flex.ea-flex-align-start.ea-just-start
							.person-status.away
							.person-details
								.person-name-age
									%h5.mt-0.mb-0.d-inline-block.person-name
										%span Anna
										%span.coma.hidden-sm-down ,
									%h5.mt-0.mb-0.person-age.text-gray 24
								.preson-city.text-gray.hidden-sm-down
									Warszawa

			%nav.mt-5{"aria-label" => "..."}
				%ul.pagination.justify-content-between
					%li.page-item.previous.disabled
						%a.page-link{:href => "#", :tabindex => "-1"}
							%i.ero-arrow-left.mr-3
							%span.d-inline-block.hidden-sm-down Poprzednia strona

					.page-wrapper
						%li.page-item.active
							%a.page-link{:href => "#"} 1
						%li.page-item
							%a.page-link{:href => "#"} 2
						%li.page-item
							%a.page-link{:href => "#"} 3
						%li.page-item
							%a.page-link{:href => "#"} 4
						%li.page-item
							%a.page-link{:href => "#"} 5

					%li.page-item.next
						%a.page-link{:href => "#"}
							%span.d-inline-block.hidden-sm-down Następna strona
							%i.ero-arrow-right.ml-3

			.featured.streach-me.mt-5
				.img-wrapper
					= link_to image_tag 'girl.jpg'
				.img-wrapper
					= link_to image_tag 'girl.jpg'
				.img-wrapper
					= link_to image_tag 'girl.jpg'
				.img-wrapper
					= link_to image_tag 'girl.jpg'
				.img-wrapper
					= link_to image_tag 'girl.jpg'
				.img-wrapper
					= link_to image_tag 'girl.jpg'
				.img-wrapper
					= link_to image_tag 'girl.jpg'

			.footer.streach-me.hidden-lg-down
				.row.no-gutters
					.col
						.footer-stats-wrapper
							.footer-stats
								.name Użytkowników
								.number 2 335 542
					.col
						.footer-stats-wrapper
							.footer-stats
								.name Zweryfikowanych
								.number 2 115 542
					.col
						.footer-stats-wrapper
							.footer-stats
								.name Online
								.number 15 123
					.col
						.footer-stats-wrapper
							.footer-stats
								.name Ukrytych
								.number 75 123
					.col
						.footer-stats-wrapper
							.footer-stats
								.name Wycieczek
								.number 92 123

			.footer-info.hidden-lg-up
				.footer-info-text
					.text-book.text-center Copyright 2017 © Erotrip.pl Wszystkie prawa zastrzeżone
					.ea-flex.ea-just-center
						%button.btn.btn-link.btn-link-gray{:type => "button"} Kontakt
						%button.btn.btn-link.btn-link-gray{:type => "button"} Regulamin


			.pt-5
			.pt-5
			.pt-5
			.pt-5
			.pt-5
			.pt-5

			-# = react_component("Post", {title: "Hello World"})

			%h2 Forms
			%form
				.form-group
					%label{:for => "exampleInputEmail1"} Email address
					%input#exampleInputEmail1.form-control{"aria-describedby" => "emailHelp", :placeholder => "Enter email", :type => "email"}/
					%small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
				.form-group
					%label{:for => "exampleInputPassword1"} Password
					%input#exampleInputPassword1.form-control{:placeholder => "Password", :type => "password"}/
				.form-group
					%label{:for => "exampleSelect1"} Example select
					%select#exampleSelect1.form-control
						%option 1
						%option 2
						%option 3
						%option 4
						%option 5
				.form-group
					%label{:for => "exampleSelect2"} Example multiple select
					%select#exampleSelect2.form-control{:multiple => "multiple"}
						%option 1
						%option 2
						%option 3
						%option 4
						%option 5
				.form-group
					%label{:for => "exampleTextarea"} Example textarea
					%textarea#exampleTextarea.form-control{:rows => "3"}
				.form-group
					%label{:for => "exampleInputFile"} File input
					%input#exampleInputFile.form-control-file{"aria-describedby" => "fileHelp", :type => "file"}/
					%small#fileHelp.form-text.text-muted This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.
				%fieldset.form-group
					%legend Radio buttons
					.form-check
						%label.form-check-label
							%input#optionsRadios1.form-check-input{:checked => "checked", :name => "optionsRadios", :type => "radio", :value => "option1"}/
							Option one is this and that—be sure to include why it's great
					.form-check
						%label.form-check-label
							%input#optionsRadios2.form-check-input{:name => "optionsRadios", :type => "radio", :value => "option2"}/
							Option two can be something else and selecting it will deselect option one
					.form-check.disabled
						%label.form-check-label
							%input#optionsRadios3.form-check-input{:disabled => "disabled", :name => "optionsRadios", :type => "radio", :value => "option3"}/
							Option three is disabled
				.form-check
					%label.form-check-label
						%input.form-check-input{:type => "checkbox"}/
						Check me out
				%button.btn.btn-primary{:type => "submit"} Submit

			%h2 Forms - Using the Grid
			.container
				%form
					.form-group.row
						%label.col-sm-2.col-form-label{:for => "inputEmail3"} Email
						.col-sm-10
							%input#inputEmail3.form-control{:placeholder => "Email", :type => "email"}/
					.form-group.row
						%label.col-sm-2.col-form-label{:for => "inputPassword3"} Password
						.col-sm-10
							%input#inputPassword3.form-control{:placeholder => "Password", :type => "password"}/
					%fieldset.form-group.row
						%legend.col-form-legend.col-sm-2 Radios
						.col-sm-10
							.form-check
								%label.form-check-label
									%input#gridRadios1.form-check-input{:checked => "checked", :name => "gridRadios", :type => "radio", :value => "option1"}/
									Option one is this and that—be sure to include why it's great
							.form-check
								%label.form-check-label
									%input#gridRadios2.form-check-input{:name => "gridRadios", :type => "radio", :value => "option2"}/
									Option two can be something else and selecting it will deselect option one
							.form-check.disabled
								%label.form-check-label
									%input#gridRadios3.form-check-input{:disabled => "disabled", :name => "gridRadios", :type => "radio", :value => "option3"}/
									Option three is disabled
					.form-group.row
						%label.col-sm-2 Checkbox
						.col-sm-10
							.form-check
								%label.form-check-label
									%input.form-check-input{:type => "checkbox"}/
									Check me out
					.form-group.row
						.offset-sm-2.col-sm-10
							%button.btn.btn-primary{:type => "submit"} Sign in

			%h2 Form - Inline forms
			%form.form-inline
				%label.sr-only{:for => "inlineFormInput"} Name
				%input#inlineFormInput.form-control.mb-2.mr-sm-2.mb-sm-0{:placeholder => "Jane Doe", :type => "text"}/
				%label.sr-only{:for => "inlineFormInputGroup"} Username
				.input-group.mb-2.mr-sm-2.mb-sm-0
					.input-group-addon @
					%input#inlineFormInputGroup.form-control{:placeholder => "Username", :type => "text"}/
				.form-check.mb-2.mr-sm-2.mb-sm-0
					%label.form-check-label
						%input.form-check-input{:type => "checkbox"}/
						Remember me
				%button.btn.btn-primary{:type => "submit"} Submit

			%h2.mt-5 Modal
			/ Button trigger modal
			%button.btn.btn-primary{"data-target" => "#exampleModal", "data-toggle" => "modal", :type => "button"}
				Launch demo modal
			/ Modal
			#exampleModal.modal.fadeable{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
				.modal-dialog{:role => "document"}
					.modal-content
						.modal-header
							%h5#exampleModalLabel.modal-title Modal title
							%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
								%span{"aria-hidden" => "true"} ×
						.modal-body
							\...
						.modal-footer
							%button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
							%button.btn.btn-primary{:type => "button"} Save changes


			%h2.mt-5 Buttons
			/ Provides extra visual weight and identifies the primary action in a set of buttons
			%button.btn.btn-primary{:type => "button"} Primary
			/ Secondary, outline button
			%button.btn.btn-secondary{:type => "button"} Secondary
			/ Indicates a successful or positive action
			%button.btn.btn-success{:type => "button"} Success
			/ Contextual button for informational alert messages
			%button.btn.btn-info{:type => "button"} Info
			/ Indicates caution should be taken with this action
			%button.btn.btn-warning{:type => "button"} Warning
			/ Indicates a dangerous or potentially negative action
			%button.btn.btn-danger{:type => "button"} Danger
			/ Deemphasize a button by making it look like a link while maintaining button behavior
			%button.btn.btn-link{:type => "button"} Link

			%h2.mt-5 Button link, gray
			%button.btn.btn-link.btn-link-gray{:type => "button"} Link

			-# %h2.mt-5 Buttons - icons only
			-# / Provides extra visual weight and identifies the primary action in a set of buttons
			-# %button.btn.icon-only.btn-primary{:type => "button"}
			-# 	%i.ero-eye
			-# / Secondary, outline button
			-# %button.btn.icon-only.btn-secondary{:type => "button"}
			-# 	%i.ero-eye
			-# / Indicates a successful or positive action
			-# %button.btn.icon-only.btn-success{:type => "button"}
			-# 	%i.ero-eye
			-# / Contextual button for informational alert messages
			-# %button.btn.icon-only.btn-info{:type => "button"}
			-# 	%i.ero-eye
			-# / Indicates caution should be taken with this action
			-# %button.btn.icon-only.btn-warning{:type => "button"}
			-# 	%i.ero-eye
			-# / Indicates a dangerous or potentially negative action
			-# %button.btn.icon-only.btn-danger{:type => "button"}
			-# 	%i.ero-eye
			-# / Deemphasize a button by making it look like a link while maintaining button behavior
			-# %button.btn.icon-only.btn-link{:type => "button"}
			-# 	%i.ero-eye

			%h2.mt-5 Buttons - icons only, outlined
			%button.btn.icon-only.btn-outline-primary.btn-outline-gray{:type => "button"}
				%i.ero-cross

			%h2.mt-5 Buttons - group scoped
			%button.btn.icon-only.btn-eye.btn-group{:type => "button"}
				%i.ero-eye
			%button.btn.icon-only.btn-eye.btn-group.active{:type => "button"}
				%i.ero-eye
			%button.btn.icon-only.btn-plus.btn-group{:type => "button"}
				%i.ero-cross
			%button.btn.icon-only.btn-plus.btn-group.active{:type => "button"}
				%i.ero-cross

			%h2.mt-5 Buttons - person scoped
			%button.btn.icon-only.btn-person.btn-heart.btn-group{:type => "button"}
				%i.ero-heart
			%button.btn.icon-only.btn-person.btn-remove.btn-group{:type => "button"}
				%i.ero-cross

			%h2.mt-5 Pagination
			%nav.mt-5{"aria-label" => "..."}
				%ul.pagination.justify-content-between
					%li.page-item.previous.disabled
						%a.page-link{:href => "#", :tabindex => "-1"}
							%i.ero-arrow-left.mr-3
							%span.d-inline-block.hidden-sm-down Poprzednia strona

					.page-wrapper
						%li.page-item.active
							%a.page-link{:href => "#"} 1
						%li.page-item
							%a.page-link{:href => "#"} 2
						%li.page-item
							%a.page-link{:href => "#"} 3
						%li.page-item
							%a.page-link{:href => "#"} 4
						%li.page-item
							%a.page-link{:href => "#"} 5

					%li.page-item.next
						%a.page-link{:href => "#"}
							%span.d-inline-block.hidden-sm-down Następna strona
							%i.ero-arrow-right.ml-3



