.navbar.hidden-md-up
	%button.btn.btn-outline-primary.btn-outline-gray.icon-only.with-label.more(type="button")
		%i.ero-menu
		.button-label.empty
	= image_tag('logo.png')
	%button.btn.btn-outline-primary.btn-outline-gray.icon-only.with-label.messages(type="button")
		%i.ero-messages
		.button-label 2

.desktop-patch.hidden-lg-down
	.top
	.bottom

.sidebar
	.logo-wrapper.hidden-lg-down
		= link_to image_tag('logo.png')

	= react_component 'LoggedUser'

	.menu
		%button.btn.btn-secondary.btn-block
			Dodaj wycieczkę

		%ul.main-submenu
			%li.menu-item
				%a
					.icon-wrapper
						%i.ero-users
					.label.fadeable Użytkownicy
			%li.menu-item
				%a
					.icon-wrapper
						%i.ero-trips
					.label.fadeable Wycieczki
			%li.menu-item.active
				%a
					.icon-wrapper
						%i.ero-groups
					.label.fadeable Grupy
			%li.menu-item
				%a
					.icon-wrapper
						%i.ero-hotline
					.label.fadeable Hotline

		%button.btn.btn-primary.btn-block
			Moje wycieczki

		%ul.fadeable.secondary-submenu
			%li.menu-item
				%a
					.icon-wrapper
						%i.ero-messages
					.label Wiadmości
			%li.menu-item
				%a
					.icon-wrapper
						%i.ero-notifications
					.label Powiadomienia
			%li.menu-item
				%a
					.icon-wrapper
						%i.ero-heart-2
					.label Chcą Cię poznać
			%li.menu-item
				%a
					.icon-wrapper
						%i.ero-eye
					.label Podglądacz
			%li.menu-item
				%a
					.icon-wrapper
						%i.ero-new-people
					.label Nowe osoby
			%li.menu-item
				%a
					.icon-wrapper
						%i.ero-new-trips
					.label Nowe wycieczki
			%li.menu-item
				%a
					.icon-wrapper
						%i.ero-unlocked
					.label Odblokowania
			%li.menu-item
				%a
					.icon-wrapper
						%i.ero-locker
					.label Tryb anonimowy


.container.main-container
	.row
		.col-xl-9.offset-xl-3.col-lg-12.offset-lg-0
			.featured.streach-me
				.img-wrapper
					= link_to image_tag 'girl.jpg'
				.img-wrapper
					= link_to image_tag 'girl.jpg'
				.img-wrapper
					= link_to image_tag 'girl.jpg'
				.img-wrapper
					= link_to image_tag 'girl.jpg'
				.img-wrapper
					= link_to image_tag 'girl.jpg'
				.img-wrapper
					= link_to image_tag 'girl.jpg'
				.img-wrapper
					= link_to image_tag 'girl.jpg'

			.group-details.streach-me
				.group-details-wrapper

					%h3.mt-0.hidden-md-up BDSM
					.ea-flex.ea-align-start
						%div
						= link_to image_tag 'girl.jpg'
						.text
							%h2.mt-0.hidden-sm-down BDSM
							%p.text-book.text-gray.hidden-sm-down
								Hydroderm is the highly desired anti-aging cream on the block. This serum restricts the occurrence of early aging sings on the skin and keep
							.group-info.m
								%p.mb-0
									%span.text-primary 2310
									%span.text-gray użytkowników
								%p.mb-0
									%span.text-primary 70
									%span.text-gray ukrytych;
								%p.mb-0
									%span.text-primary Twój profil
									%span.text-gray Publiczny

					%button.btn.icon-only.btn-plus.btn-group(type="button")
						%i.ero-cross
					%button.btn.icon-only.btn-eye.btn-group(type="button")
						%i.ero-eye

			%form.search
				.search-header
					.info.f-s-16
						%span.text-primary 2310
						%span.text-gray użytkowników

					.search-input
						%button.btn.btn-outline-primary.btn-outline-gray.icon-only.with-label.more.mr-3(type="submit")
							%i.ero-search
						-# = react_component "Select", {}, {prerender: true}

				.row.search-body.open
					.col-12.search-header-mobile.hidden-md-up
						%span Wyszukaj
						%button.btn.btn-outline-primary.btn-outline-gray.icon-only(type="button")
							%i.ero-cross

					.col-12.col-xl-6.search-preferences
						.row
							.col-12.col-md-6
								.form-group
									%label Szukam
									= react_component "MultiSelect", {placeholder: "Szukam", options: [{value: 'm', label: 'Mężczyzn'}, {value: 'f', label: 'Kobiet'}], name: 'gender[]', selection: params[:gender] || []}
									-# , {prerender: true}
							.col-12.col-md-6
								.form-group
									%label Szukających
									= react_component "MultiSelect", {placeholder: "Szukających", name: 'gender_opposite[]', selection: params[:gender_opposite] || []}
									-# {prerender: true}

					.col-12.col-xl-6.location
						.form-group
							%label Gdzie
							= react_component "Select", {placeholder: "Wszędzie", options: [{value: 1, label: 'Jeden'}, {value: 2, label: 'Dwa'}], name: 'where', selection: params[:where] || ''}
							-# {prerender: true}

					.col-12.col-xl-6.age
						.form-group
							%label Wiek
							= react_component "SliderRange", {name: 'age[]', selection: params[:age] || [20, 30] }

					.col-12.col-xl-6.location-range
						.form-group
							%label Cała polska
							= react_component "Slider", {name: 'distance', selection: params[:distance] || 30 }
							-# , {prerender: true}

					.col-12.col-xl-6.height
						.row
							.col-12.col-md-6
								.form-group
									%label Wzrost
									= react_component "MultiSelect", {placeholder: "Wzrost", name: 'height[]', selection: params[:height] || []}
									-# {prerender: true}

							.col-12.col-md-6
								.form-group
									%label Sylwetka
									= react_component "MultiSelect", {placeholder: "Sylwetka", name: 'look[]', selection: params[:look] || []}
									-# {prerender: true}

							.col-12
								.form-group
									%label Zainteresowania
									= react_component "MultiSelectWithLabels", {placeholder: "Zainteresowania", name: 'interests[]', selection: params[:interests] || []}
									-# {prerender: true}

					.col-12.col-xl-6.options
						%fieldset.form-group
							%legend Tylko
							.form-check.form-check-inline
								%label.form-check-label
									%input.form-check-input(type="checkbox")
									Zweryfikowani

							.form-check.form-check-inline
								%label.form-check-label
									%input.form-check-input(type="checkbox")
									Ze zdjęciami

						%fieldset.form-group
							%legend Dodatkowo
							.form-check.form-check-inline
								%label.form-check-label
									%input.form-check-input(type="checkbox")
									Papierosy

							.form-check.form-check-inline
								%label.form-check-label
									%input.form-check-input(type="checkbox")
									Alkohol

					.col.search-footer
						%button.btn.btn-secondary.mr-4(type="button") Pokaż
						%button.btn.btn-outline-primary.btn-outline-gray(type="button") Anuluj

			.row.people-wrapper
				.col-6.col-md-4.col-lg-4.col-xl-3
					.person
						.person-photo-wrapper
							.person-actions
								%button.btn.icon-only.btn-person.btn-heart.btn-group(type="button")
									%i.ero-heart
								%button.btn.icon-only.btn-person.btn-remove.btn-group.ml-2(type="button")
									%i.ero-cross
							.person-photo-amount.hidden-sm-down
								%i.ero-photo-amount
								%span.amount 6
							.locker
								%i.ero-locker
							= image_tag 'girl.jpg'

						.person-info.ea-flex.ea-flex-align-start.ea-just-start
							.person-status.online
							.person-details
								.person-name-age
									%h5.mt-0.mb-0.d-inline-block.person-name
										%span Anna
										%span.coma.hidden-sm-down ,
									%h5.mt-0.mb-0.person-age.text-gray 24
								.preson-city.text-gray.hidden-sm-down
									Warszawa

				.col-6.col-md-4.col-lg-4.col-xl-3
					.person
						.person-photo-wrapper
							.person-actions
								%button.btn.icon-only.btn-person.btn-heart.btn-group(type="button")
									%i.ero-heart
								%button.btn.icon-only.btn-person.btn-remove.btn-group.ml-2(type="button")
									%i.ero-cross
							.person-photo-amount.hidden-sm-down
								%i.ero-photo-amount
								%span.amount 6
							.locker
								%i.ero-locker
							= image_tag 'girl.jpg'

						.person-info.ea-flex.ea-flex-align-start.ea-just-start
							.person-status.offline
							.person-details
								.person-name-age
									%h5.mt-0.mb-0.d-inline-block.person-name
										%span Anna
										%span.coma.hidden-sm-down ,
									%h5.mt-0.mb-0.person-age.text-gray 24
								.preson-city.text-gray.hidden-sm-down
									Warszawa

				.col-6.col-md-4.col-lg-4.col-xl-3
					.person.locked
						.person-photo-wrapper
							.person-actions
								%button.btn.icon-only.btn-person.btn-heart.btn-group(type="button")
									%i.ero-heart
								%button.btn.icon-only.btn-person.btn-remove.btn-group.ml-2(type="button")
									%i.ero-cross
							.person-photo-amount.hidden-sm-down
								%i.ero-photo-amount
								%span.amount 6
							.locker
								%i.ero-locker
							= image_tag 'girl.jpg'

						.person-info.ea-flex.ea-flex-align-start.ea-just-start
							.person-status.away
							.person-details
								.person-name-age
									%h5.mt-0.mb-0.d-inline-block.person-name
										%span Hermenegildaaaaaa
										%span.coma.hidden-sm-down ,
									%h5.mt-0.mb-0.person-age.text-gray 24
								.preson-city.text-gray.hidden-sm-down
									Warszawa

				.col-6.col-md-4.col-lg-4.col-xl-3
					.person
						.person-photo-wrapper
							.person-actions
								%button.btn.icon-only.btn-person.btn-heart.btn-group(type="button")
									%i.ero-heart
								%button.btn.icon-only.btn-person.btn-remove.btn-group.ml-2(type="button")
									%i.ero-cross
							.person-photo-amount.hidden-sm-down
								%i.ero-photo-amount
								%span.amount 6
							.locker
								%i.ero-locker
							= image_tag 'girl.jpg'

						.person-info.ea-flex.ea-flex-align-start.ea-just-start
							.person-status.away
							.person-details
								.person-name-age
									%h5.mt-0.mb-0.d-inline-block.person-name
										%span Anna
										%span.coma.hidden-sm-down ,
									%h5.mt-0.mb-0.person-age.text-gray 24
								.preson-city.text-gray.hidden-sm-down
									Warszawa

				.col-6.col-md-4.col-lg-4.col-xl-3
					.person.locked
						.person-photo-wrapper
							.person-actions
								%button.btn.icon-only.btn-person.btn-heart.btn-group(type="button")
									%i.ero-heart
								%button.btn.icon-only.btn-person.btn-remove.btn-group.ml-2(type="button")
									%i.ero-cross
							.person-photo-amount.hidden-sm-down
								%i.ero-photo-amount
								%span.amount 6
							.locker
								%i.ero-locker
							= image_tag 'girl.jpg'

						.person-info.ea-flex.ea-flex-align-start.ea-just-start
							.person-status.online
							.person-details
								.person-name-age
									%h5.mt-0.mb-0.d-inline-block.person-name
										%span Anna
										%span.coma.hidden-sm-down ,
									%h5.mt-0.mb-0.person-age.text-gray 24
								.preson-city.text-gray.hidden-sm-down
									Warszawa

				.col-6.col-md-4.col-lg-4.col-xl-3
					.person
						.person-photo-wrapper
							.person-actions
								%button.btn.icon-only.btn-person.btn-heart.btn-group(type="button")
									%i.ero-heart
								%button.btn.icon-only.btn-person.btn-remove.btn-group.ml-2(type="button")
									%i.ero-cross
							.person-photo-amount.hidden-sm-down
								%i.ero-photo-amount
								%span.amount 6
							.locker
								%i.ero-locker
							= image_tag 'girl.jpg'

						.person-info.ea-flex.ea-flex-align-start.ea-just-start
							.person-status.offline
							.person-details
								.person-name-age
									%h5.mt-0.mb-0.d-inline-block.person-name
										%span Anna
										%span.coma.hidden-sm-down ,
									%h5.mt-0.mb-0.person-age.text-gray 24
								.preson-city.text-gray.hidden-sm-down
									Warszawa

				.col-6.col-md-4.col-lg-4.col-xl-3
					.person
						.person-photo-wrapper
							.person-actions
								%button.btn.icon-only.btn-person.btn-heart.btn-group(type="button")
									%i.ero-heart
								%button.btn.icon-only.btn-person.btn-remove.btn-group.ml-2(type="button")
									%i.ero-cross
							.person-photo-amount.hidden-sm-down
								%i.ero-photo-amount
								%span.amount 6
							.locker
								%i.ero-locker
							= image_tag 'girl.jpg'

						.person-info.ea-flex.ea-flex-align-start.ea-just-start
							.person-status.away
							.person-details
								.person-name-age
									%h5.mt-0.mb-0.d-inline-block.person-name
										%span Anna
										%span.coma.hidden-sm-down ,
									%h5.mt-0.mb-0.person-age.text-gray 24
								.preson-city.text-gray.hidden-sm-down
									Warszawa

				.col-6.col-md-4.col-lg-4.col-xl-3
					.person
						.person-photo-wrapper
							.person-actions
								%button.btn.icon-only.btn-person.btn-heart.btn-group(type="button")
									%i.ero-heart
								%button.btn.icon-only.btn-person.btn-remove.btn-group.ml-2(type="button")
									%i.ero-cross
							.person-photo-amount.hidden-sm-down
								%i.ero-photo-amount
								%span.amount 6
							.locker
								%i.ero-locker
							= image_tag 'girl.jpg'

						.person-info.ea-flex.ea-flex-align-start.ea-just-start
							.person-status.away
							.person-details
								.person-name-age
									%h5.mt-0.mb-0.d-inline-block.person-name
										%span Anna
										%span.coma.hidden-sm-down ,
									%h5.mt-0.mb-0.person-age.text-gray 24
								.preson-city.text-gray.hidden-sm-down
									Warszawa

			%nav.mt-5(aria-label="...")
				%ul.pagination.justify-content-between
					%li.page-item.previous.disabled
						%a.page-link(href="#" tabindex="-1")
							%i.ero-arrow-left.mr-3
							%span.d-inline-block.hidden-sm-down Poprzednia strona

					.page-wrapper
						%li.page-item.active
							%a.page-link(href="") 1
						%li.page-item
							%a.page-link(href="") 2
						%li.page-item
							%a.page-link(href="") 3
						%li.page-item
							%a.page-link(href="") 4
						%li.page-item
							%a.page-link(href="") 5

					%li.page-item.next
						%a.page-link(href="")
							%span.d-inline-block.hidden-sm-down Następna strona
							%i.ero-arrow-right.ml-3

			.featured.streach-me.mt-5
				.img-wrapper
					= link_to image_tag 'girl.jpg'
				.img-wrapper
					= link_to image_tag 'girl.jpg'
				.img-wrapper
					= link_to image_tag 'girl.jpg'
				.img-wrapper
					= link_to image_tag 'girl.jpg'
				.img-wrapper
					= link_to image_tag 'girl.jpg'
				.img-wrapper
					= link_to image_tag 'girl.jpg'
				.img-wrapper
					= link_to image_tag 'girl.jpg'

			.footer.streach-me.hidden-lg-down
				.row.no-gutters
					.col
						.footer-stats-wrapper
							.footer-stats
								.name Użytkowników
								.number 2 335 542
					.col
						.footer-stats-wrapper
							.footer-stats
								.name Zweryfikowanych
								.number 2 115 542
					.col
						.footer-stats-wrapper
							.footer-stats
								.name Online
								.number 15 123
					.col
						.footer-stats-wrapper
							.footer-stats
								.name Ukrytych
								.number 75 123
					.col
						.footer-stats-wrapper
							.footer-stats
								.name Wycieczek
								.number 92 123

			.footer-info.hidden-lg-up
				.footer-info-text
					.text-book.text-center Copyright 2017 © Erotrip.pl Wszystkie prawa zastrzeżone
					.ea-flex.ea-just-center
						%button.btn.btn-link.text-gray(type="button") Kontakt
						%button.btn.btn-link.text-gray(type="button") Regulamin

