.row
	.col-xl-9.offset-xl-3.col-lg-12.offset-lg-0
		.featured.streach-me
			.patch
			.img-wrapper
				= link_to image_tag 'girl.jpg'
			.img-wrapper
				= link_to image_tag 'girl.jpg'
			.img-wrapper
				= link_to image_tag 'girl.jpg'
			.img-wrapper
				= link_to image_tag 'girl.jpg'
			.img-wrapper
				= link_to image_tag 'girl.jpg'
			.img-wrapper
				= link_to image_tag 'girl.jpg'
			.img-wrapper
				= link_to image_tag 'girl.jpg'

		.profile-box.streach-me
			.patch
			.group-details-wrapper

				.ea-flex.ea-align-center
					%div
					= link_to image_tag 'girl.jpg'
					.text
						.profile-info-wrapper
							.profile-info
								.profile-info-upper
									.person-status.away
									%h4.mb-0
										%span Ola,
										%span.text-gray 18
									%i.ero-verified-border-gray.ml-2.f-s-30
										%span.path1
										%span.path2
										%span.path3
								.profile-info-lower.mb-3
									%span.text-gray 2 dni temu,
									%span.text-gray Poznań

						%p.text-book.text-gray Hydroderm is the highly desired anti-aging cream on the block. This serum restricts the occurrence of early aging sings on the skin and keep

				%button.btn.icon-only.btn-plus.btn-group(type="button")
					%i.ero-cross
				.btn-group-wrapper
					%button.btn.icon-only.btn-wrapped.btn-group(type="button")
						%i.ero-alert-circle-outline

		- [1, 2, 3, 4, 5].each do |photo|
			.profile-box.profile-box-gray
				.group-details-wrapper

					.ea-flex.ea-align-center
						%div
						= link_to image_tag 'girl.jpg'
						.text
							.profile-info-wrapper
								.profile-info
									.profile-info-upper
										.person-status.away
										%h4.mb-0
											%span Ola,
											%span.text-gray 18
										%i.ero-verified-border-gray.ml-2.f-s-30
											%span.path1
											%span.path2
											%span.path3
									.profile-info-lower.mb-3
										%span.text-gray 2 dni temu,
										%span.text-gray Poznań

							%p.text-book.text-gray Hydroderm is the highly desired anti-aging cream on the block. This serum restricts the occurrence of early aging sings on the skin and keep

					%button.btn.icon-only.btn-plus.btn-group(type="button")
						%i.ero-cross
					.btn-group-wrapper
						%button.btn.icon-only.btn-wrapped.btn-group(type="button")
							%i.ero-alert-circle-outline

		.featured.featured-large.streach-me
			.patch
			.img-wrapper
				= link_to image_tag 'girl.jpg'
			.img-wrapper
				= link_to image_tag 'girl.jpg'
			.img-wrapper
				= link_to image_tag 'girl.jpg'
			.img-wrapper
				= link_to image_tag 'girl.jpg'
			.img-wrapper
				= link_to image_tag 'girl.jpg'
			.img-wrapper
				= link_to image_tag 'girl.jpg'
			.img-wrapper
				= link_to image_tag 'girl.jpg'

		.footer.streach-me.hidden-lg-down
			.patch
			.row.no-gutters
				.col
					.footer-stats-wrapper
						.footer-stats
							.name Użytkowników
							.number 2 335 542
				.col
					.footer-stats-wrapper
						.footer-stats
							.name Zweryfikowanych
							.number 2 115 542
				.col
					.footer-stats-wrapper
						.footer-stats
							.name Online
							.number 15 123
				.col
					.footer-stats-wrapper
						.footer-stats
							.name Ukrytych
							.number 75 123
				.col
					.footer-stats-wrapper
						.footer-stats
							.name Wycieczek
							.number 92 123