.row
	.col-12.col-lg-9.ml-lg-auto

		.profile-info-bar.streach-me
			.profile-info-bar-inner
				.profile-info-wrapper
					.profile-info.ml-3
						.profile-info-upper.mb-2.mt-1
							.person-status.away
							%h3.text-white.text-book.mb-0 Ola, 18
						.profile-info-lower
							%span.text-white 2 dni temu,
							%span.text-white Poznań
				%button.btn.icon-only.btn-dark-bar(type="button")
					%i.ero-settings

		.settings
			.border-bottom.mt-5.mb-4
				%h4.mb-3 Prywatność
			.settings-body
				.row.mb-3
					.col-5
						.ea-flex.ea-align-center.ea-just-space-between
							Podglądacz
							.btn-group(role="group")
								%button.btn.btn-outline-primary.btn-outline-gray.text-gray.active(type="button") Tak
								%button.btn.btn-outline-primary.btn-outline-gray.text-gray(type="button") Nie
					.col-7
						.settings-text.text-gray.text-book Użytkownicy będą widzieć Twoje odwiedziny
				.row.mb-3
					.col-5
						.ea-flex.ea-align-center.ea-just-space-between
							Wiek
							.btn-group(role="group")
								%button.btn.btn-outline-primary.btn-outline-gray.text-gray.active(type="button") Tak
								%button.btn.btn-outline-primary.btn-outline-gray.text-gray(type="button") Nie
					.col-7
						.settings-text.text-gray.text-book Użytkownicy będą widzieć Twoje odwiedziny
				.row.mb-3
					.col-5
						.ea-flex.ea-align-center.ea-just-space-between
							Data logowania
							.btn-group(role="group")
								%button.btn.btn-outline-primary.btn-outline-gray.text-gray.active(type="button") Tak
								%button.btn.btn-outline-primary.btn-outline-gray.text-gray(type="button") Nie
					.col-7
						.settings-text.text-gray.text-book Użytkownicy będą widzieć Twoje odwiedziny
				.row.mb-3
					.col-5
						.ea-flex.ea-align-center.ea-just-space-between
							Widoczność grup
							.btn-group(role="group")
								%button.btn.btn-outline-primary.btn-outline-gray.text-gray.active(type="button") Tak
								%button.btn.btn-outline-primary.btn-outline-gray.text-gray(type="button") Nie
					.col-7
						.settings-text.text-gray.text-book Użytkownicy będą widzieć Twoje odwiedziny

				.row.mb-3
					.col-5
						.ea-flex.ea-align-center.ea-just-space-between
							Galeria prywatna
							.btn-group(role="group")
								%button.btn.btn-outline-primary.btn-outline-gray.text-gray.active(type="button") Tak
								%button.btn.btn-outline-primary.btn-outline-gray.text-gray(type="button") Nie
					.col-7
						.settings-text.text-gray.text-book Użytkownicy będą widzieć Twoje odwiedziny
				.row.mb-3
					.col-5
						.ea-flex.ea-align-center.ea-just-space-between
							Status online
							.btn-group(role="group")
								%button.btn.btn-outline-primary.btn-outline-gray.text-gray.active(type="button") Tak
								%button.btn.btn-outline-primary.btn-outline-gray.text-gray(type="button") Nie
					.col-7
						.settings-text.text-gray.text-book Użytkownicy będą widzieć Twoje odwiedziny

		.notifications
			.border-bottom.mt-5.mb-4
				%h4.mb-3 Powiadomienia
			.notifications-body
				.row
					.col-7

						.row.mb-2
							.col-6.ea-flex.ea-align-center
								%span Wiadomości
							.col-6
								.form-group.mb-0
									.form-check.form-check-inline.mb-0
										%label.form-check-label.big-round-label
											%input.form-check-input(type="checkbox" checked)
											%span
									.form-check.form-check-inline
										%label.form-check-label.big-round-label
											%input.form-check-input(type="checkbox")
											%span
						.row.mb-2
							.col-6.ea-flex.ea-align-center
								%span Dopasowania
							.col-6
								.form-group.mb-0
									.form-check.form-check-inline.mb-0
										%label.form-check-label.big-round-label
											%input.form-check-input(type="checkbox" checked)
											%span
									.form-check.form-check-inline
										%label.form-check-label.big-round-label
											%input.form-check-input(type="checkbox")
											%span

						.row.mb-2
							.col-6.ea-flex.ea-align-center
								%span Dźwięki powiadomień
							.col-6
								.btn-group(role="group")
									%button.btn.btn-outline-primary.btn-outline-gray.text-gray.active(type="button") Tak
									%button.btn.btn-outline-primary.btn-outline-gray.text-gray(type="button") Nie

						-# RADIO
						-# .form-group
						-# 	.form-check.form-check-inline
						-# 		%label.form-check-label
						-# 			%input.form-check-input(type="radio" name="inlineRadioOptions" value="option1")
						-# 			%span
						-# 	.form-check.form-check-inline
						-# 		%label.form-check-label
						-# 			%input.form-check-input(type="radio" name="inlineRadioOptions" value="option1")
						-# 			%span

		.inputs
			.border-bottom.mt-5.mb-4
				%h4.mb-3 Edytuj swój adres e-mail
			.inputs-body
				.row
					.col-7

						.row.mb-3
							.col-6.ea-flex.ea-align-center
								%span Twój obecny adress email
							.col-6
								.form-group.mb-0
									%input.form-control(type="email" placeholder="Podaj obecny email")

						.row.mb-3
							.col-6.ea-flex.ea-align-center
								%span Hasło
							.col-6
								.form-group.mb-0
									%input.form-control(type="password" placeholder="Podaj hasło")

						.row.mb-3
							.col-6.ea-flex.ea-align-center
								%span Nowy e-mail
							.col-6
								.form-group.mb-0
									%input.form-control(type="email" placeholder="Podaj nowy email")

						.row
							.col-6
								%button.btn.btn-secondary.mt-3(type="button") Zmień


		.pin.streach-me.mt-5
			.pin-header.border-bottom
				%h4.mb-3 PIN
			.pin-body
				%form.form-inline.mt-6.mb-4
					.input-group.mr-2
						%input(type="text" class="form-control" placeholder="Minimum 4 znaki")

					%button.btn.btn-secondary(type="submit") Potwierdź
				.text-gray.text-book Nadaj pin składający się z minimum 4 cyfr, który będzie wymagany do odzyskania hasła. Dzięki niemu niepożądane osoby nie będą mogły sprawdzić czy Twój email jest w naszej bazie.

		.featured.featured-large.streach-me
			.patch
			.img-wrapper
				= link_to image_tag 'girl.jpg'
			.img-wrapper
				= link_to image_tag 'girl.jpg'
			.img-wrapper
				= link_to image_tag 'girl.jpg'
			.img-wrapper
				= link_to image_tag 'girl.jpg'
			.img-wrapper
				= link_to image_tag 'girl.jpg'
			.img-wrapper
				= link_to image_tag 'girl.jpg'
			.img-wrapper
				= link_to image_tag 'girl.jpg'

		.footer.streach-me.hidden-lg-down
			.patch
			.row.no-gutters
				.col
					.footer-stats-wrapper
						.footer-stats
							.name Użytkowników
							.number 2 335 542
				.col
					.footer-stats-wrapper
						.footer-stats
							.name Zweryfikowanych
							.number 2 115 542
				.col
					.footer-stats-wrapper
						.footer-stats
							.name Online
							.number 15 123
				.col
					.footer-stats-wrapper
						.footer-stats
							.name Ukrytych
							.number 75 123
				.col
					.footer-stats-wrapper
						.footer-stats
							.name Wycieczek
							.number 92 123






