.row
	.col-12.col-lg-9.ml-lg-auto
		.profile

			.profile-info-bar.streach-me
				.profile-info-bar-inner
					.profile-info-wrapper
						%button.btn.icon-only.btn-dark-bar(type="button")
							%i.ero-heart
						.profile-info.ml-3
							.profile-info-upper.mb-2.mt-1
								.person-status.away
								%h3.text-white.text-book.mb-0 Ola, 18
								%i.ero-verified-border-white.ml-2.f-s-25
									%span.path1
									%span.path2
									%span.path3
							.profile-info-lower
								%span.text-white 2 dni temu,
								%span.text-white Poznań
					%button.btn.btn-secondary.btn-lg(type="button") Wyślij wiadomość

			.profile-photos-bar.streach-me
				.profile-photos-bar-inner.ea-flex
					%a.verification.no-underline-i(href="")
						.verification-text-wrapper
							.verification-text.text-center
								%i.ero-sad-face.f-s-30.text-white
								.f-s-12.text-white.mt-1 Niezweryfikowany
					.photos
						- [1, 2, 3].each do |photo|
							.photo
								= link_to image_tag('girl.jpg', class: "img-fluid"), nil, :class => "d-inline-block"

			.profile-details
				.ea-flex.ea-align-center.ea-just-space-between.mt-4.mb-4
					.ea-flex.ea-align-center
						= image_tag('girl.jpg', class: "profile-avatar rounded-circle")
						.ml-3
							%h5.mt-0.mb-1 Chce poznać
							%h6.mt-0.mb-0.text-gray.text-book Poznać nowych ludzi

					%button.btn.btn-outline-primary.btn-outline-gray.btn-lg(type="button") Zgłoś użytkownika
				.divider

				.profile-decription
					%h6.mt-3.mb-3 O mnie
					%p.text-gray.text-book Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					%p.text-gray.text-book Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

					.profile-preferences.mt-3.mb-2
						.row
							.col-12.col-md-6.pt-3.pb-3.border-right
								.row.mb-3
									.col-6 Szukam
									.col-6.text-gray Mężczyzn
								.row.mb-3
									.col-6 Waga
									.col-6.text-gray 60 kg
								.row
									.col-6 Wzrost
									.col-6.text-gray 175 cm

							.col-12.col-md-6.pt-3.pb-3
								.row.mb-3
									.col-6 Sylwetka
									.col-6.text-gray Szczupła
								.row.mb-3
									.col-6 Papierosy
									.col-6.text-gray Nie palę
								.row
									.col-6 Alkohol
									.col-6.text-gray Do towarzystwa

						.row.mt-3.mb-3
							.col-6
								%span.mr-3 Zainteresowania
								%span.badge.badge-default.mr-2 Pissing
								%span.badge.badge-default.mr-2 Pissing
								%span.badge.badge-default.mr-2 Pissing
					.divider

					%h6.mt-3.mb-3 Lubię
					%p.text-gray.text-book Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					.divider

					%h6.mt-3.mb-3 Nie lubię
					%p.text-gray.text-book Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					.divider

					%h6.mt-3.mb-3 Wymarzony partner
					%p.text-gray.text-book Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					.divider

			.groups
				%h6.mt-3.mb-3 Grupy
				- [1, 2].each do |group|
					.group-details.group-details-gray.streach-me
						.group-details-wrapper

							%h3.mt-0.d-md-none TRIP
							.ea-flex.ea-align-start
								%div
								= link_to image_tag 'girl.jpg'
								.text
									%h2.mt-0.d-sm-none.d-md-block TRIP
									%p.text-book.text-gray.d-none.d-md-block Hydroderm is the highly desired anti-aging cream on the block. This serum restricts the occurrence of early aging sings on the skin and keep
									.group-info.m
										%p.mb-0
											%span.text-primary 2310
											%span.text-gray użytkowników
										%p.mb-0
											%span.text-primary 70
											%span.text-gray ukrytych

							%button.btn.icon-only.btn-plus.btn-group(type="button")
								%i.ero-cross
							.btn-group-wrapper
								%button.btn.icon-only.btn-wrapped.btn-group(type="button")
									%i.ero-eye

			.profile-block.mt-5.mb-5
				%button.btn.btn-outline-primary.btn-outline-gray.btn-lg.text-gray(type="button") Zablokuj

		.featured.featured-large.streach-me
			.patch
			.img-wrapper
				= link_to image_tag 'girl.jpg'
			.img-wrapper
				= link_to image_tag 'girl.jpg'
			.img-wrapper
				= link_to image_tag 'girl.jpg'
			.img-wrapper
				= link_to image_tag 'girl.jpg'
			.img-wrapper
				= link_to image_tag 'girl.jpg'
			.img-wrapper
				= link_to image_tag 'girl.jpg'
			.img-wrapper
				= link_to image_tag 'girl.jpg'

		.footer.streach-me.d-none.d-xl-block
			.patch
			.row.no-gutters
				.col
					.footer-stats-wrapper
						.footer-stats
							.name Użytkowników
							.number 2 335 542
				.col
					.footer-stats-wrapper
						.footer-stats
							.name Zweryfikowanych
							.number 2 115 542
				.col
					.footer-stats-wrapper
						.footer-stats
							.name Online
							.number 15 123
				.col
					.footer-stats-wrapper
						.footer-stats
							.name Ukrytych
							.number 75 123
				.col
					.footer-stats-wrapper
						.footer-stats
							.name Wycieczek
							.number 92 123






