
!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %title EroTrip
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAMyxEkOGk_H8_8lU7a4U8rTdNne_LFXnc&libraries=places", :type => "text/javascript"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    -# = javascript_pack_tag 'application'
    -# = javascript_pack_tag 'hello_react'
    -# = stylesheet_pack_tag 'application'
    = favicon_link_tag
  %body
    = yield
